.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    margin-top: 0;
    color: #1a0a5c;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .photos {
    margin-bottom: 20px;
  }
  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .stats {
    margin-bottom: 20px;
  }
  
  .bar-chart {
    margin-bottom: 20px;
  }
  
  .other-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  /* Estilos para el gráfico de barras */
  #likesChart {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos adicionales */
  body {
    background-color: #08b0ff;
    color: #1a0a5c;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #a70566;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #1a0a5c;
  }
  
  .chart-container {
    width: 400px;
    margin: 20px auto;
  }